In [1]:
import pandas as pd

In [2]:
# 資料輸入
datas = [[75, 62, 85, 73, 60], [91, 53, 56, 63, 65],
         [71, 88, 51, 69, 87], [69, 53, 87, 74, 70]]
indexs = ["小林", "小黃", "小陳", "小美"]
columns = ["國語", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns, index=indexs)

行標題為科目，列題標為個人的所有學生成績。

In [3]:
df.head()

    國語  數學  英文  自然  社會
小林  75  62  85  73  60
小黃  91  53  56  63  65
小陳  71  88  51  69  87
小美  69  53  87  74  70

輸出後二位學生的所有成績。

In [4]:
df.tail(2)

    國語  數學  英文  自然  社會
小陳  71  88  51  69  87
小美  69  53  87  74  70

將自然成績做遞減排序輸出。

In [5]:
df1 = df.sort_values(by="自然", ascending=False)
df1["自然"]

小美    74
小林    73
小陳    69
小黃    63
Name: 自然, dtype: int64

僅列小黃的成績，並將其英文成績改為80。

In [6]:
df.loc["小黃", "英文"] = 80
df.loc["小黃"]

國語    91
數學    53
英文    80
自然    63
社會    65
Name: 小黃, dtype: int64