# 資料型別轉換v2 (Data Type Conversion v2)

In [20]:
import pandas as pd

## List轉DataFrame

### 一維list

In [21]:
data=[78,88,99]
df=pd.DataFrame(data, columns=["成績"])
df

   成績
0  78
1  88
2  99

### 二維list

In [22]:
namedata=[['小明',78],['阿花',88],['陳軒',99]]
namedf=pd.DataFrame(namedata, columns=['姓名',"成績"])
namedf

   姓名  成績
0  小明  78
1  阿花  88
2  陳軒  99

### List 裡面的元素是 Dictionary

In [23]:
data1=[
   {"name" :'小明',"成績": 78},
   {"name" :'阿花',"成績": 88},
   {"name" :'陳軒',"成績": 99},
   ]
   
data1_df=pd.DataFrame(data1)
data1_df

  name  成績
0   小明  78
1   阿花  88
2   陳軒  99

### List 裡面的元素是 Dictionary(巢狀結構)

In [24]:
data2=[
   {"name" :'小明',"成績": {'國文':78,'數學':22,'英文':33}},
   {"name" :'阿花',"成績": {'國文':88,'數學':33,'英文':44}},
   {"name" :'陳軒',"成績": {'國文':99,'數學':44,'英文':55}}
   ]
   
data2_df=pd.DataFrame(data2)
data2_df

  name                              成績
0   小明  {'國文': 78, '數學': 22, '英文': 33}
1   阿花  {'國文': 88, '數學': 33, '英文': 44}
2   陳軒  {'國文': 99, '數學': 44, '英文': 55}

### 問題: 請問如何把上述成績展開，儲存在各欄之中，並加上欄位名稱'國文','英文','數學'

In [25]:
data3=[
   {"name" :'小明',"成績": {'國文':78,'數學':22,'英文':33}},
   {"name" :'阿花',"成績": {'國文':88,'數學':33,'英文':44}},
   {"name" :'陳軒',"成績": {'國文':99,'數學':44,'英文':55}}
   ]

# 使用 pandas.json_normalize 來展開巢狀字典
data3_df = pd.json_normalize(data3)

data3_df

  name  成績.國文  成績.數學  成績.英文
0   小明     78     22     33
1   阿花     88     33     44
2   陳軒     99     44     55

## Dictionary轉DataFrame

### Dictionary 的 Value 是單值

In [26]:
mydict = {'學號': 1, '姓名':'小明', '成績': 78}
# 會出現錯誤
try:
    mydict_df=pd.DataFrame(mydict)
    mydict_df
except Exception as e:
    print(f"錯誤: {e}")

錯誤: If using all scalar values, you must pass an index

In [27]:
# 修改方法一-加入 index=[0] 
# 提供了一個行索引，使 pandas 能夠將你的字典中的數據正確地結構化為一個 1 行的 DataFrame
mydict_df=pd.DataFrame(mydict, index=[0])
mydict_df

   學號  姓名  成績
0   1  小明  78

In [28]:
# 修改方法二-dic先變list再轉df
# 字典 mydict 放入了一個列表中 ([mydict])，列表中的每一個元素都可以當作 DataFrame 的一行數據處理
mydict_df1=pd.DataFrame([mydict])
mydict_df1

   學號  姓名  成績
0   1  小明  78

### Dictionary 的 Value 是 List

In [29]:
mydict1 = {'學號': [1,2,3], '姓名':['小明','阿花','陳軒'], '成績': [78,88,99]}
mydict1_df=pd.DataFrame(mydict1) 
mydict1_df

   學號  姓名  成績
0   1  小明  78
1   2  阿花  88
2   3  陳軒  99

### Dictionary 的 Value 是 Dictionary

In [30]:
mydict2 = {'小明': {'數學':60,"國文":78}, '阿花':{'數學':60,'國文':88}, '陳軒':{'數學':22,'國文':99}}
mydict2_df=pd.DataFrame(mydict2) 
mydict2_df

    小明  阿花  陳軒
數學  60  60  22
國文  78  88  99

## 問題：請將以下dic轉為dataframe，並以陳, 林, 張為索引值

In [31]:
import pandas as pd

my_dict = {'陳': 1, '林': 2, '張': 3}
# 請在這裡解答

pd.DataFrame([my_dict])

   陳  林  張
0  1  2  3